
@import url(https://fonts.googleapis.com/css?family=Google+Sans);
.project1{
    margin-bottom: 10px;
    position: relative; /* Adjust as needed */
    display: block;
    color: white;
    border: 1px solid lightseagreen;
    border-radius: 50px;
    max-width: 30vw;
    min-width: 30vw;
    margin-top: 99vh; /* Adjust as needed */
    margin-left: 10vw;
    box-shadow: 5px 5px 5px rgb(3, 131, 172);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #614444;
    border: 1px solid #6d6161;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

/* ... rest of your CSS ... */

.Who h2{
    color: whitesmoke;
    font-size: 3vw;
    padding-right: 5px;
    padding-left: 5px;
}
.Who h4{
    color: rgb(180, 178, 178);
    font-size: 2vw;
}
.Who{
    height: 55vh;
    width: 30vw;
    position: absolute;
    font-family: "Google Sans";
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 5px;
    border: 1px solid lightseagreen;
    box-shadow: 5px 5px 5px rgb(3, 131, 173);
    text-align: center;
    border-radius: 50px;
    max-width: 50%;
    -webkit-user-drag: none;
}
.whoImage{
    position: relative; /* Adjust as needed */
    margin-top: -50vh; /* Adjust as needed */
    width: 30vw;
    margin-left: -90vw;
    border-radius: 50px;
    -webkit-user-drag: none;
    border: 2px solid lightseagreen;
    box-shadow: 5px 5px 5px rgb(3, 131, 173);
}

.Who .button {
    position: absolute;
    top: 100%; /* Adjust this value as needed */
    left: 50%; /* Offset to the left */
    transform: translate(-50%, -50%);
    background-color: rgb(26, 197, 189); /* Blue */
    font-size: 2em;
    color: white;
    padding: 15px 32px;
    font-family: "Google Sans";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.8s;
    box-shadow: 0 8px 16px rgb(3, 131, 173);
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
}

.Who .button:hover {
    color: black;
    background-color: #00ffbf; /* Change color on hover */
    box-shadow: 0 12px 24px rgb(3, 131, 173); /* Increase shadow on hover */
    transform: translate(-50%, -50%) scale(1.25); /* Slightly increase size on hover */
}
.projects{
    min-width: 15vw;
    width: 15vw;
    position: absolute;
    top: 85vh;
    left: 17.5%;
    font-family: "Google sans";
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid lightseagreen;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(3, 131, 172);
}
.projectTitle{
    font-size: 2.5vw;
}
.Project1Title{
    margin-left: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    top: 0%;
    left: 0%;
    font-size: 3vw;
}
.project1 a{
    text-decoration: none;
    color: white;
}
.Project1Desc{
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    display: flex;
    top: 0%;
    left: 0%;
    font-size: 1.2vw;
}
.Project1Image {
    position: relative;
    width: 100%;
    max-height: 20vh;
    top: 5px;
    border-radius: 50px;
    object-fit: cover;
}
@media(max-width: 600px) {
    .Who{
        width: 50%;
        height: 13vh;
        position: absolute;
        font-family: "Google Sans";
        left: 70%;
        top: 30%;
        transform: translate(-50%, -50%);
        border: 1px solid lightseagreen;
        box-shadow: 5px 5px 5px rgb(3, 131, 173);
        text-align: center;
        border-radius: 14px;
        max-width: 50%;
    }
    .Who .subject{
        margin: 0;
        padding: 0;
    }
    
    .Who .button {
        position: absolute;
        top: 100%; /* Adjust this value as needed */
        left: 52%; /* Offset to the left */
        background-color: rgb(26, 197, 189); /* Blue */
        font-size: 2.3vw;
        border: none;
        color: white;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        transition-duration: 0.6s;
        border-radius: 50px;
        box-shadow: 0 8px 16px rgb(3, 131, 173);
        }
    .whoImage{
        top: 10%;
        left: 0%;
        border-radius: 50px;
    }
    .projects{
        width: 75vw;
        position: absolute;
        top: 45vh;
        left: 50%;
        font-family: "Google sans";
        color: white;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid lightseagreen;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgb(3, 131, 172);
    }
    .projectTitle{
        color: white;
    }
    .project1{
        text-align: center;
        justify-content: center;
        margin: 0;
        display: block;
        position: absolute;
        top: 72% ;
        left: 52%;
        transform: translate(-50%, -50%);
        min-width: 50vw;
    }
    /* .container{
        max-width: none;
    } */
    .project1 a{
        text-decoration: none;
    }
    .Project1Title{
        display: block;
        color: rgb(255, 255, 255);
        font-family: "Google Sans";
        text-align: center;
        margin: 0;
    }
    .Project1Desc{
        margin: 0;
        display: block;
        color: white;
        font-size: 2.5vw;
        font-family: "Google Sans";
    }
    .footer{
        visibility: hidden;
    }
    
}

